@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
	--primary-dark: rgb(0, 1, 41);
	--primary-white: rgb(255, 255, 255);
	--day-mode-hover: rgb(59, 59, 59);
	--day-mode-dropdown: rgb(52, 11, 56);
	--primary-hover: rgb(142, 31, 146);
	--night-mode-navbar: rgb(40, 7, 43);
}

* {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

main {
	display: flex;
	flex-direction: column;
	flex-flow: column;
	height: 100%;
	flex: 0 1 auto;
}

.navbar {
	height: 3rem;
	background: var(--primary-dark);
	color: var(--primary-white);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-nightmode {
	background: var(--night-mode-navbar);
	color: var(--primary-white);
}

.logo {
	padding: 0rem 1rem;
	width: 25%;
	font-size: 1.3rem;
}

.logo:hover {
	cursor: pointer;
}

nav span {
	font-weight: 600;
}

.nav-tag {
	color: var(--primary-white);
	display: none;
	padding: 0.7rem 1rem;
	border-top: 1px solid var(--day-mode-hover);
}

.nav-tag:hover {
	background: var(--primary-hover);
}

.nav-tag-nightmode {
	color: var(--primary-white);
	border-top: 1px solid var(--primary-white);
}

.nav-tag-nightmode:hover {
	background: var(--primary-hover);
}

nav ul {
	display: flex;
	width: 70%;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
}

.dropdowns {
	background: var(--primary-dark);
	color: var(--primary-white);
}

.dropdowns-nightmode {
	background: var(--night-mode-navbar);
	color: var(--primary-white);
}

.dropdown {
	padding: 0.9rem 1rem;
	position: relative;
	font-size: 1rem;
	cursor: pointer;
	background: var(--primary-dark);
	color: var(--primary-white);
}

.dropdown-nightmode {
	background: var(--night-mode-navbar);
	color: var(--primary-white);
}

.dropdown:hover {
	background: var(--primary-hover);
}

.dropdown-content {
	position: absolute;
	background: var(--primary-dark);
	top: 3rem;
	left: 0;
	min-width: 100%;
	max-width: 300px;
}

.dropdown-content-nightmode {
	background: var(--day-mode-dropdown);
}

.dropdown:hover > .dropdown-content a {
	display: flex;
	justify-content: flex-start;
}

.new-array-button {
	padding: 0.9rem 1rem;
	cursor: pointer;
	color: grey;
}

.sort-button {
	padding: 0.9rem 1rem;
	cursor: pointer;
	color: grey;
}

.navbar-button {
	color: white;
}

.navbar-button:hover {
	background: var(--primary-hover);
}

.nav-selected {
	background: rgb(28, 180, 185);
}

.element {
	border-bottom: thin solid var(--primary-white);
	border-top: thin solid var(--primary-white);
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	display: flex;
}

.element-nightmode {
	border-bottom: thin solid var(--primary-dark);
	border-top: thin solid var(--primary-dark);
}

.array-display {
	flex: 1 1 auto;
	background: var(--primary-white);
}

.array-display-nightmode {
	background: var(--primary-dark);
}

.theme-button {
	background: var(--primary-white);
	color: var(--primary-dark);
	padding: 0.5rem 0.9rem;
	margin-left: 1rem;
	border-radius: 0.3rem;
	font-weight: 1000;
	margin: 0rem 0.3rem;
	cursor: pointer;
}

.menu-button {
	display: none;
}

footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 3rem;
	background: var(--primary-dark);
	color: var(--primary-white);
}

.footer-nightmode {
	background: var(--night-mode-navbar);
	background: var(--night-mode-navbar);
}

.learn-button {
	padding: 0.9rem 2rem;
}

.learn-button:hover {
	background: var(--primary-hover);
}

.learn-section {
	display: none;
	align-items: center;
	padding: 1rem;
	position: absolute;
	bottom: 3rem;
	height: 180px;
	width: 350px;
	background: var(--primary-hover);
	border-bottom: 1px solid var(--day-mode-hover);
}

.learn-button:hover + .learn-section {
	display: flex;
}

@media screen and (max-width: 1150px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-nightmode {
		background: var(--night-mode-navbar);
		color: var(--primary-white);
	}

	.logo {
		display: flex;
		justify-content: center;
		width: 90%;
		padding: 0.7rem 0rem;
		margin-left: 0.8rem;
	}

	.dropdowns {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		padding: 0;
		width: 200px;
	}

	.dropdowns-nightmode {
		background: var(--night-mode-navbar);
		color: var(--primary-white);
	}

	.dropdown {
		border-top: 1px solid var(--day-mode-hover);
	}

	.dropdown-nightmode {
		border-top: 1px solid var(--primary-white);
	}

	.dropdown:nth-child(1) {
		border-top: none;
	}

	.menu-button {
		display: block;
		position: absolute;
		left: 0.1rem;
		top: 0.5rem;
		background: var(--primary-white);
		color: var(--primary-dark);
		padding: 0.4rem 0.6rem;
		margin-left: 0.4rem;
		border-radius: 0.3rem;
		cursor: pointer;
		font-weight: 1000;
	}

	.theme-button {
		display: block;
		position: absolute;
		right: 0.5rem;
		top: 0.5rem;
		background: var(--primary-white);
		color: var(--primary-dark);
		padding: 0.4rem 0.8rem;
		margin-left: 0.4rem;
		border-radius: 0.3rem;
		cursor: pointer;
		font-weight: 1000;
	}

	.dropdown-content {
		position: absolute;
		background: var(--primary-dark);
		top: 0rem;
		left: 200px;
		min-width: 100%;
		max-width: 300px;
	}

	.dropdown:hover {
		background: var(--primary-hover);
	}

	.dropdown-content-nightmode {
		background: var(--day-mode-dropdown);
	}

	.nav-tag {
		color: var(--primary-white);
		display: none;
		padding: 0.9rem 1rem;
		border-top: 1px solid rgb(48, 48, 48);
	}

	.nav-tag-nightmode {
		color: var(--primary-white);
		border-top: 1px solid var(--primary-white);
	}

	.nav-tag:nth-child(1) {
		border-top: none;
	}

	.dropdowns-remove {
		display: none;
	}
}
