@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primary-black: rgb(1, 6, 17);
  --primary-white: rgb(255, 255, 255);
  --day-mode-hover: rgb(59, 59, 59);
  --day-mode-dropdown: rgb(52, 11, 56);
  --night-mode-hover: rgb(142, 31, 146);
  --night-mode-navbar: rgb(40, 7, 43);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  height: 100%;
  flex: 0 1 auto;
}

.navbar {
  height: 3rem;
  background: var(--primary-black);
  color: var(--primary-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nightmode {
  background: var(--night-mode-navbar);
  color: var(--primary-white);
}

.logo {
  padding: 0rem 1rem;
  width: 25%;
  font-size: 1.3rem;
}

.logo:hover {
  cursor: pointer;
}

nav span {
  font-weight: 600;
}

.nav-tag {
  color: var(--primary-white);
  display: none;
  padding: 0.7rem 1rem;
  border-top: 1px solid rgb(48, 48, 48);
}

.nav-tag:hover {
  background: var(--night-mode-hover);
}

.nav-tag-nightmode {
  color: var(--primary-white);
  border-top: 1px solid var(--primary-white);
}

.nav-tag-nightmode:hover {
  background: var(--night-mode-hover);
}

nav ul {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.dropdown {
  padding: 0.9rem 1rem;
  position: relative;
  font-size: 1rem;
  cursor: pointer;
}

.dropdown:hover {
  background: var(--night-mode-hover);
}

.dropdown-content {
  position: absolute;
  background: var(--primary-black);
  top: 3rem;
  left: 0;
  min-width: 100%;
  max-width: 300px;
}

.dropdown-content-nightmode {
  background: var(--day-mode-dropdown);
}

.dropdown:hover > .dropdown-content a {
  display: flex;
  justify-content: flex-start;
}

.new-array-button {
  padding: 0.9rem 1rem;
  cursor: pointer;
  color: grey;
}

.sort-button {
  padding: 0.9rem 1rem;
  cursor: pointer;
  color: grey;
}

.navbar-button {
  color: white;
}

.navbar-button:hover {
  background: var(--night-mode-hover);
}

.nav-selected {
  background: rgb(28, 180, 185);
}

.element {
  border-bottom: thin solid var(--primary-white);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
}

.element-nightmode {
  border-bottom: thin solid var(--primary-black);
}

.array-display {
  flex: 1 1 auto;
  background: var(--primary-white);
}

.array-display-nightmode {
  background: var(--primary-black);
}

.theme-button {
  background: var(--primary-white);
  color: var(--primary-black);
  padding: 0.5rem 0.9rem;
  margin-left: 1rem;
  border-radius: 0.3rem;
  font-weight: 1000;
  cursor: pointer;
}

.theme-button-nightmode {
  background: var();
}

footer {
  height: 3rem;
  background: rgb(21, 1, 43);
}

/* @media screen and (max-width: 1000px) {
  .dropdowns {
    display: none;
  }

  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
  }
} */
